.sidebarContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 340px;
    border-radius: 0px 15px 15px 0px;
    background-color: rgba(255, 255, 255, 0.0);
    font-family: var(--transit-font);
    color: rgb(211, 139, 79);
    /* overflow-y: scroll; */
    /* overflow: auto; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    /* display: none; */
    visibility: hidden;
    width: 8px;
}

.content:hover::-webkit-scrollbar {
    /* display: block; */
    visibility: visible;
}

.content:hover::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: lightgray;
}

.scrollableRow {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-right: -10px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollableRow > div:first-child {
    margin-left: 10px;
}

.scrollableRow > div {
    margin-right: 10px;
}

.scrollableRow::-webkit-scrollbar {
    display: none;
}

.scrollableRow::after {
    /* make shadow gradient */
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 20%,rgba(33,33,33,0) 80%);
}

.content {
    /* padding-bottom: 250px; */
    height: calc(100% - 60px);
    overflow-y: overlay;
    padding: 0px 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Set the desired height of the footer */
    /* background-color: blueviolet; */
    padding: 0px 10px;
  }
